
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/PDFSanitizer.csproj.nuget.dgspec.json
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/PDFSanitizer.csproj.nuget.dgspec.json
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/project.assets.json
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/Debug/netcoreapp2.1/PDFSanitizer.assets.cache
*.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/project.assets.json
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/PDFSanitizer.Tests.csproj.nuget.dgspec.json
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/PDFSanitizer.Tests.csproj.nuget.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/Debug/netcoreapp2.1/PDFSanitizer.Tests.csprojAssemblyReference.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/Debug/netcoreapp2.1/PDFSanitizer.Tests.csproj.CoreCompileInputs.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer.Tests/obj/Debug/netcoreapp2.1/PDFSanitizer.Tests.assets.cache
PDFSanitizer/PDFSanitizer/.vs/PDFSanitizer/v16/Server/sqlite3/storage.ide-wal
PDFSanitizer/PDFSanitizer/.vs/PDFSanitizer/v16/Server/sqlite3/storage.ide-shm
PDFSanitizer/PDFSanitizer/.vs/PDFSanitizer/v16/Server/sqlite3/storage.ide
PDFSanitizer/PDFSanitizer/.vs/PDFSanitizer/v16/Server/sqlite3/db.lock
PDFSanitizer/PDFSanitizer/.vs/PDFSanitizer/v16/.suo
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/Debug/netcoreapp2.1/PDFSanitizer.assets.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/Debug/netcoreapp2.1/PDFSanitizer.csprojAssemblyReference.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/PDFSanitizer.csproj.nuget.cache
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/PDFSanitizer.csproj.nuget.dgspec.json
PDFSanitizer/PDFSanitizer/PDFSanitizer/obj/project.assets.json
